<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Максим & Владислава - 25.10.2025</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#hero">Главная</a></li>
<!--            <li><a href="#">О нас</a></li>-->
            <li><a href="#calendar">До свадьбы</a></li>
            <li><a href="#location">Локация</a></li>
            <li><a href="#dresscode">Дресс-код</a></li>
            <li><a href="#rsvp">Подтверждение</a></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Герой секция -->
    <section id="hero" class="hero-section">
        <div class="hero-content">
<!--            <h1 class="save-the-date">SAVE THE DATE</h1>-->
            <div class="names">
                <div>МАКСИМ</div>
                <div>&</div>
                <div>ВЛАДИСЛАВА</div>
            </div>
            <div class="wedding-date">25 / 10 / 2025</div>
        </div>
    </section>

    <section id="calendar">
        <div class="container">
            <h2 class="we-wait">Мы ждём вас</h2>
            <p>Не пропустите важное событие этой осени – день нашей свадьбы!</p>

            <div class="month">
                <h3>Октябрь</h3>
                <div class="wedding-date-calendar">25 / 10 / 25</div>

                <table>
                    <thead>
                    <tr>
                        <th>ПН</th>
                        <th>ВТ</th>
                        <th>СР</th>
                        <th>ЧТ</th>
                        <th>ПТ</th>
                        <th>СБ</th>
                        <th>ВС</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td><span class="wedding-day-calendar">25</span></td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 class="countdown-title">До нашей свадьбы осталось</h2>
        <div class="countdown-grid">
            <div class="countdown-item">
                <div class="countdown-number" id="days">119</div>
                <div class="countdown-label">Дней</div>
            </div>
            <div class="countdown-separator">/</div>
            <div class="countdown-item">
                <div class="countdown-number" id="hours">10</div>
                <div class="countdown-label">Часов</div>
            </div>
            <div class="countdown-separator">/</div>
            <div class="countdown-item">
                <div class="countdown-number" id="minutes">08</div>
                <div class="countdown-label">Минут</div>
            </div>
            <div class="countdown-separator">/</div>
            <div class="countdown-item">
                <div class="countdown-number" id="seconds">08</div>
                <div class="countdown-label">Секунд</div>
            </div>
        </div>
    </section>

    <!-- Таймер -->
<!--    <section class="countdown-container">-->
<!--        <h2 class="countdown-title">До нашей свадьбы осталось</h2>-->
<!--        <div class="countdown-grid">-->
<!--            <div class="countdown-item">-->
<!--                <div class="countdown-number" id="days">119</div>-->
<!--                <div class="countdown-label">Дней</div>-->
<!--            </div>-->
<!--            <div class="countdown-separator">/</div>-->
<!--            <div class="countdown-item">-->
<!--                <div class="countdown-number" id="hours">10</div>-->
<!--                <div class="countdown-label">Часов</div>-->
<!--            </div>-->
<!--            <div class="countdown-separator">/</div>-->
<!--            <div class="countdown-item">-->
<!--                <div class="countdown-number" id="minutes">08</div>-->
<!--                <div class="countdown-label">Минут</div>-->
<!--            </div>-->
<!--            <div class="countdown-separator">/</div>-->
<!--            <div class="countdown-item">-->
<!--                <div class="countdown-number" id="seconds">08</div>-->
<!--                <div class="countdown-label">Секунд</div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->



<!--    OLD-->

<!--    <section class="timing-section">-->
<!--        <h2>Тайминг</h2>-->
<!--        <div class="timing-item">-->
<!--            <div class="timing-time">16:00</div>-->
<!--            <div class="timing-event">Сбор гостей</div>-->
<!--        </div>-->
<!--        <div class="timing-item">-->
<!--            <div class="timing-time">17:00</div>-->
<!--            <div class="timing-event">Церемония регистрации</div>-->
<!--        </div>-->
<!--        <div class="timing-item">-->
<!--            <div class="timing-time">17:30</div>-->
<!--            <div class="timing-event">Банкет</div>-->
<!--        </div>-->
<!--        <div class="timing-item">-->
<!--            <div class="timing-time">23:00</div>-->
<!--            <div class="timing-event">Завершение вечера</div>-->
<!--        </div>-->
<!--    </section>-->



<!--    NEW-->

<!--    <section class="photo-timeline">-->
<!--        <h2 class="section-title">Тайминг</h2>-->

<!--        <div class="timeline-container">-->
<!--            &lt;!&ndash; Первое событие &ndash;&gt;-->
<!--            <div class="timeline-item">-->
<!--                <div class="timeline-img">-->
<!--                    <img src="/static/images/location_second.png" alt="Коктейли на свадьбе">-->
<!--                </div>-->
<!--                <div class="timeline-content">-->
<!--                    <p>16:00 | Сбор гостей</p>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Второе событие &ndash;&gt;-->
<!--            <div class="timeline-item reverse">-->
<!--                <div class="timeline-img">-->
<!--                    <img src="/static/images/two_kol_three.svg" alt="Локация свадьбы">-->
<!--                </div>-->
<!--                <div class="timeline-content-reverse">-->
<!--                    <p>17:00 | Церемония регистрации</p>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Третье событие &ndash;&gt;-->
<!--            <div class="timeline-item">-->
<!--                <div class="timeline-img">-->
<!--                    <img src="/static/images/koktels_second.png" alt="Шарики" onerror="this.src='/static/images/shariki.png'">-->
<!--                </div>-->
<!--                <div class="timeline-content">-->
<!--                    <p>17:30 | Банкет</p>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Четвертое событие &ndash;&gt;-->
<!--            <div class="timeline-item reverse">-->
<!--                <div class="timeline-img">-->
<!--                    <img src="/static/images/shariki.svg" alt="Молодожены">-->
<!--                </div>-->
<!--                <div class="timeline-content-reverse">-->
<!--                    <p>23:00 | Завершение вечера</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->


<!--    &lt;!&ndash; О нас &ndash;&gt;-->
<!--    <section id="about" class="about-section">-->
<!--        <div class="container">-->
<!--            <h2>Этот момент настал!</h2>-->
<!--            <p>Мы верим, что этот день послужит началом нашей счастливой жизни. Поэтому не представляем наш праздник без Вашего участия!</p>-->
<!--            <p>Разделите с нами это главное событие - подарите нам свое внимание и поддержку.</p>-->
<!--        </div>-->
<!--    </section>-->

    <!-- Локация -->
    <section id="location" class="location-section">
        <div class="container">
            <h2>Локация</h2>
            <div class="location-content">
<!--                <div class="location-image">-->
<!--                    <img src="/static/images/location-wedding-2.jpg" alt="Лес Event House">-->
<!--                </div>-->
                <div class="location-info">
                    <h3>Ресторан торжеств ТМК «ГРИНН»</h3>
                    <p>Наша свадьба пройдет в Ресторане Торжеств по адресу г. Орёл, Кромское шоссе, д.4</p>
                    <div class="time">
                        <h3>Сбор гостей</h3>
                        <p>15:20</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Дресс-код -->
    <section id="dresscode" class="dresscode-section">
        <div class="container">
            <h2>Дресс-код</h2>
            <div class="dress-code-image woman-dress-code">
                <img src="/static/images/woman-dress-code.jpeg" alt="Женщины">
            </div>
            <div class="dress-code-image man-dress-code">
                <img src="/static/images/man-dress-code.jpeg" alt="Мужчины">
            </div>
        </div>
    </section>


    <!-- Пожелания -->
    <section class="wishes-section">
        <div class="container">
            <h2 class="wishes-title">Пожелания</h2>

            <div class="wishes-grid">
                <!-- Блок 1: Цветы -->
                <div class="wish-card">
                    <div class="wish-icon">🌸</div>
                    <h3 class="wish-title">ЦВЕТЫ</h3>
                    <p class="wish-text">
                        Наш праздник будет окружен изобилием цветов, поэтому приятным комплиментом
                        для нас вместо букета будет бутылка вашего любимого напитка, которую мы откроем
                        на ближайшем совместном празднике.
                    </p>
                </div>

                <!-- Блок 2: Подарки -->
                <div class="wish-card">
                    <div class="wish-icon">🎁</div>
                    <h3 class="wish-title">ЧТО ДАРИТЬ?</h3>
                    <p class="wish-text">
                        В качестве подарка будем рады вкладу в бюджет нашей семьи.
                        Он точно поможет воплотить нашу мечту в реальность!
                    </p>
                </div>

                <!-- Блок 3: Вопросы -->
                <div class="wish-card">
                    <div class="wish-icon">❓</div>
                    <h3 class="wish-title">ЧТО ДЕЛАТЬ, ЕСЛИ..?</h3>
                    <p class="wish-text">
                        Если у вас появились какие-либо вопросы, вам с радостью поможет
                        наш замечательный организатор:<br>
                        <strong>Анастасия +7 920 815 45 45</strong>
                    </p>
                </div>
            </div>
        </div>

<!--        <p class="wishes-text">-->
<!--            Дорогие наши гости!-->
<!--            Ваше присутствие — самый желанный подарок для нас в этот день.-->
<!--            Если же вы хотите порадовать нас своим вниманием,-->
<!--            мы будем бесконечно благодарны за ваше участие в создании нашего семейного бюджета.-->
<!--            Также мы будем рады бутылочке вашего любимого напитка для нашей будущей домашней коллекции.-->
<!--        </p>-->
    </section>



    <!-- Подтверждение -->
    <section id="rsvp" class="rsvp-section">
        <div class="container">
            <div class="rsvp-content">
                <h2>Пожалуйста, подтвердите Ваше присутствие до 25.09.2025</h2>
                <form id="rsvp-form" method="POST">
                    <div class="form-group">
                        <label for="name">Имя и фамилия</label>
                        <input type="text" id="name" name="name" placeholder="Введите Ваше имя и фамилию" required>
                    </div>
                    <div class="form-group">
                        <label>Вы придёте?</label>
                        <div class="radio-group">
                            <label><input type="radio" name="attendance" value="yes" required> Да</label>
                            <label><input type="radio" name="attendance" value="no"> Нет</label>
                        </div>
                    </div>
                    <div class="form-group companion" id="companion-field">
                        <h3>Если вы будете не одни, заполните поле ниже, пожалуйста:</h3>
                        <input type="text" id="companion" name="companion" placeholder="Укажите Ваших спутников">
                    </div>
                    <button type="submit" class="submit-btn">Отправить</button>
                </form>
            </div>
        </div>
    </section>
</main>

<!--<footer>-->
<!--    <p>Максим & Владислава • 25.10.2025</p>-->
<!--</footer>-->

<script src="static/js/script.js"></script>
</body>
</html>